<a href="https://colab.research.google.com/github/Lino-Domingos/data-minig2/blob/main/biblioteca_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data minig 2, biblioteca principal para analise de dados.

# IMPORT **PANDAS**

In [ ]:
# Comando para importar a bibilioteca do pandas como pd
import pandas as pd 
# Versao do panda
print (pd.__version__)

## **Array**

In [ ]:
# ---------ARRAY----------------- DATA SETS
# Array em python
cars = ['Ford', 'Volvo', 'BMW']
print(cars)

# ***Series***

In [ ]:
#--------------series ----------------------------------------
# Series imprime caracteristicas do conjunto de dados (data sets) 
carros = pd.Series(cars)

ml = {"Lino": 320, "Alan": 400, "Lelio": 500}
teste = pd.Series(ml)
#print (teste)

teste1 = pd. Series (ml, index = ["Lino", "Lelio"])
#index serve para indicar o elemento no conjunto de dados
print (teste1)

Lino     320
Lelio    500
dtype: int64

# **Labels**

In [ ]:
# Labels no pandas servem para acessar um valor especificado dentro de uma determinada serie
print (carros[1])
# E possivel criar um nob=

**Dataframe (quadro de dados)**

O dataframe pode ser criado de diferentes formas, a saber:


1.   List
2.   Item de lista

In [8]:
# 1Criacao da lista, datasets
import pandas as pd

cd  = [3, 4, 4, 6, 8, 8]
df = pd.DataFrame(cd)
df

   0
0  3
1  4
2  4
3  6
4  8
5  8