<a href="https://colab.research.google.com/github/Lino-Domingos/data-minig2/blob/main/biblioteca_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data minig 2, biblioteca principal para analise de dados.

## ***Pandas***

In [ ]:
# Comando para importar a bibilioteca do pandas como pd
import pandas as pd 
# Versao do panda
print (pd.__version__)

## **Array**

In [ ]:
# ---------ARRAY----------------- DATA SETS
# Array em python
cars = ['Ford', 'Volvo', 'BMW']
print(cars)

# ***Series***

In [ ]:
#--------------series ----------------------------------------
# Series imprime caracteristicas do conjunto de dados (data sets) 
carros = pd.Series(cars)

ml = {"Lino": 320, "Alan": 400, "Lelio": 500}
teste = pd.Series(ml)
#print (teste)

teste1 = pd. Series (ml, index = ["Lino", "Lelio"])
#index serve para indicar o elemento no conjunto de dados
print (teste1)

Lino     320
Lelio    500
dtype: int64

# **Labels**

In [ ]:
# Labels no pandas servem para acessar um valor especificado dentro de uma determinada serie
print (carros[1])
# E possivel criar um nob=

# **Dataframe (quadro de dados)**

In [ ]:
# 1Criacao da lista, datasets
import pandas as pd

cd  = [[3, 4, 4, 6, 8, 8], [2, 3, 5]]
#df = pd.DataFrame(cd)
df - pd.DataFrame(cd, index = ["Altos", "Baixos"])
print(df)
# loc usado para retornar uma linha especifica de uma tabela
#print (df.loc[[0, 1]])

   0  1  2    3    4    5
0  3  4  4  6.0  8.0  8.0
1  2  3  5  NaN  NaN  NaN

# **Read CSV Files**

In [23]:
import pandas as pd
# Comando para importar o ficheiro csv
alan = pd.read_csv('data.csv')
print (pd.DataFrame(alan))

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]